<html>
<head><title>评分方案</title>
</head>
<style>
    table {border-collapse:collapse;border:none;}
    td { border:solid#000 1px;padding :20 }
</style>
<body>
<table border=1>
    <tr>
        <td>评分</td>
        <td>0--20</td>
        <td>21--40</td>
        <td>41--60</td>
        <td>61--85</td>
        <td>86--100</td>
    </tr>
    <tr>
        <td>状态描述</td>
        <td>A(差)</td>
        <td>B(注意)</td>
        <td>C(中)</td>
        <td>D(良)</td>
        <td>E(优)</td>
    </tr>
    <tr>
        <td>检修策略</td>
        <td>立即检修</td>
        <td>尽快检修</td>
        <td>优先检修</td>
        <td>计划检修</td>
        <td>延期检修</td>
    </tr>

</table>
</body>
</html>
