<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>直流偏磁数据</title>
<link href="static/trans_dc_para.css" rel="stylesheet" type="text/css">
</head>

<body>
<h2>直流偏磁数据</h2>
<div>
  <p>
  <label for="textfield">中性点直流电流（A）：</label>
  <input name="trans_zxddl" type="text" id="trans_zxddl" value="10" readonly>

<label for="textfield">额定容量（kVA）：</label>
<input name="trans_edrl" type="text" id="trans_edrl" value="150000" readonly>
<p/>
  <p>
  <label for="textfield">额定电压（kV）：</label>
  <input name="trans_eddy" type="text" id="trans_eddy" value="220" readonly>

<label for="textfield">额定电流（A）：</label>
<input name="trans_eddl" type="text" id="trans_eddl" value="393.65" readonly>
<p/>
  <p>
  <label for="textfield">额定负载损耗（kW）：</label>
  <input name="trans_edfzsh" type="text" id="trans_edfzsh" value="380" readonly>

<label for="textfield">直流偏磁时间（h）：</label>
<input name="trans_zlpcsj" type="text" id="trans_zlpcsj" value="2" readonly>
<p/>
  <p>
  <label for="textfield">额定顶层油温升：</label>
  <input name="trans_eddcyws" type="text" id="trans_eddcyws" value="5" readonly>

<label for="textfield">震动影响专家评分：</label>
<input name="trans_zdyxzjpf" type="text" id="trans_zdyxzjpf" value="0.5" readonly>
<p/>
</div>
</body>
</html>
