<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>变压器运行参数</title>
<link href="static/trans_para.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
<h2>猇亭变电站220kV#2变压器运行参数</h2>
  <p>
  <label for="textfield">运行工况记录：</label>
  <input name="trans_gongkuang" type="text" id="trans_gongkuang" value="无" readonly>

<label for="textfield">家族缺陷记录：</label>
<input name="trans_quexian" type="text" id="trans_quexian" value="2次记录" readonly>
<p/>
 <p>
  <label for="textfield">出厂日期：</label>
  <input name="trans_factory_date" type="text" id="trans_factory_date" value="1999-05-01" readonly>

<label for="textfield">铁芯接地电流（单位：A）：</label>
<input name="trans_jiedidianliu" type="text" id="trans_jiedidianliu" value="0.0021" readonly>
<p/>
 <p>
  <label for="textfield">绝缘吸收比（单位：%）：</label>
  <input name="trans_jueyuanxishoubi" type="text" id="trans_jueyuanxishoubi" value="1.33" readonly>

<label for="textfield2">绕组介质损耗因数（单位：%）：</label>
<input name="trans_raozujiezhisuhao" type="text" id="trans_raozujiezhisuhao" value="0.522" readonly>
<p/>
 <p>
  <label for="textfield">油介质损耗因数（单位：%）：</label>
  <input name="trans_youjiezhisuhao" type="text" id="trans_youjiezhisuhao" value="0.1" readonly>

<label for="textfield2">绕组直流电流相间差（单位：%）：</label>
<input name="trans_raozudianliuxiangcha" type="text" id="trans_raozudianliuxiangcha" value="0.53" readonly>
<p/>
 <p>
  <label for="textfield">油击穿电压（单位：kV）：</label>
  <input name="trans_youjichuandianya" type="text" id="trans_youjichuandianya" value="42" readonly>

<label for="textfield2">油中微水含量（单位：mg/L）：</label>
<input name="trans_weishuihanliang" type="text" id="trans_weishuihanliang" value="16" readonly>
<p/>
 <p>
  <label for="textfield">套管主屏绝缘电阻（MΩ）：</label>
  <input name="trans_taoguandianzu" type="text" id="trans_taoguandianzu" value="22000" readonly>


<p/>
</div>
</body>
</html>
