<html>
    <head>
    <meta charset="utf-8"/>
    <title>变压器运行参数</title>
    <link href="static/trans_para.css" rel="stylesheet" type="text/css"/>
    </head>
    <style>
        .common {
                margin-left:auto;
                margin-right:auto;
            }
        .common tr {
                margin-left:auto;
                margin-right:auto;
            }
        .common td {padding : 33; }
    </style>
<body>
<table  class='common'>
    <tr><td colspan=4 ><h2 align='center'>猇亭变电站220kV#2变压器运行参数</h2></td></tr>
    <tr><td>
    <label for="textfield">运行工况记录：</label></td><td>
    <input name="trans_gongkuang" type="text" id="trans_gongkuang" value="无" /></td><td>
    <label for="textfield">家族缺陷记录：</label></td><td>
    <input name="trans_quexian" type="text" id="trans_quexian" value="无" />
    </td></tr>
    <tr><td>

    <label for="textfield">铁芯接地电流：</label></td><td>
    <input name="trans_jiedidianliu" type="text" id="trans_jiedidianliu" value="0.0021 A" /></td><td>
    <label for="textfield">绝缘吸收比：</label></td><td>
    <input name="trans_jueyuanxishoubi" type="text" id="trans_jueyuanxishoubi" value="1.33 %" />
    </td></tr>
    <tr><td>

    <label for="textfield2">绕组介质损耗因数：</label></td><td>
    <input name="trans_raozujiezhisuhao" type="text" id="trans_raozujiezhisuhao" value="0.522 %" /></td><td>
    <label for="textfield">油介质损耗因数：</label></td><td>
    <input name="trans_youjiezhisuhao" type="text" id="trans_youjiezhisuhao" value="0.1 %" />
    </td></tr>
    <tr><td>
    <label for="textfield2">绕组直流电流相间差：</label></td><td>
    <input name="trans_raozudianliuxiangcha" type="text" id="trans_raozudianliuxiangcha" value="0.53 %" /></td><td>
    <label for="textfield">油击穿电压：</label></td><td>
    <input name="trans_youjichuandianya" type="text" id="trans_youjichuandianya" value="42 kV" />
    </td></tr>
    <tr><td>

    <label for="textfield2">油中微水含量：</label></td><td>
    <input name="trans_weishuihanliang" type="text" id="trans_weishuihanliang" value="16 mg/L" /></td><td>
    <label for="textfield">套管主屏绝缘电阻：</label></td><td>
    <input name="trans_taoguandianzu" type="text" id="trans_taoguandianzu" value="22000 MΩ" />
    </td></tr>
    <tr>
    <td colspan=2>
        <input type='button' value='确认修改'/>
    </td>
    <td colspan=2>
        <input type='button' value='取消'/>
    </td>
    </tr>
</table>
</body>
</html>
